<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoInputs Suite">
    <test name="DemoInputs Test">
        <classes>
            <class name="com.kavinschool.examples.DemoInputsTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->